parameters:
  level: 8
  paths:
    - 404-alert.php
    - includes/
    - templates/
  excludePaths:
    - stubs/
  bootstrapFiles:
    - stubs/phpstan-bootstrap.php
  ignoreErrors:
    - '#Undefined variable: \$GLOBALS#'
    - '#Access to undefined constant#'
    - '#Call to undefined function#'
